<footer class="footer d-flex justify-content-between align-items-center">
  <div class="footer-content text-center mx-auto">
    <p>© <%= new Date().getFullYear() %> Wenberg Transfer, Inc</p>
    <p>3729 Hwy 332, International Falls, MN 56649</p>
    <p>
      Email:
      <a href="mailto:wenbergtransfer@frontier.com" class="text-dark-blue"
        >wenbergtransfer@frontier.com</a
      >
    </p>
  </div>
  <div class="footer-logo">
    <img
      src="/assets/logos/L1-Anniversary-White.png"
      alt="Wenberg Transfer Logo"
      width="150px"
    />
  </div>
</footer>
