<footer class="text-center py-4 bg-light-blue text-dark-blue mt-5">
  <p>© <%= new Date().getFullYear() %> Wenberg Transfer, Inc</p>
  <p>3729 Hwy 332, International Falls, MN 56649</p>
  <p>Email: <a href="mailto:wenbergtransfer@frontier.com" class="text-dark-blue">wenbergtransfer@frontier.com</a></p>
</footer>
