<%- include("partials/header.ejs") %>

<div class="px-4 py-5 my-5 text-center">
  <img class="d-block mx-auto mb-4" src="/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
  <h1 class="display-3 fw-bold text-body-emphasis">Wenberg Transfer</h1>
  <% if(locals.year) {%>
    <h2 class="display-6 fw text-body-emphasis"><%= year - 1924 %> Years and Still Trucking</h1>
    <% } else { %>
      <h2 class="display-6 fw text-body-emphasis">100+ Years and Still Trucking</h1>
      <% } %>
</div>

<%- include("partials/footer.ejs") %>
